.pageView{
    display: flex;
    /* background-color: blue; */
    height: 90vh;
    width: 100vw;
   justify-content: center;
   align-items: center;

}



.summaryContainer{
    height: 80%;
    width: 60vw; 
    /* background-color: rgb(121, 104, 104); */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   justify-content: space-between;




}



.title{ 
    color: black;
    font-size: 1em;
    /* background-color: red; */
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
    margin-top: 1em;
}

.container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: green; */
    align-items: center;
    padding-bottom: 20%;
}

.container h1 { 
    color: black;
}


.selectionList{
   display: flex;
}


.selectionList h1 { 
    color: black;
}

#label{

   display: flex;
   justify-content: flex-start;
   
    width: 15em;
    /* border: 1px solid black; */
    font-size: 1.2em;
    
}

#value{
    display: flex;
    justify-content: flex-start;
    
     width: 10em;
     /* border: 1px solid black; */
}


.logo{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.logo img { 
    height: 100%;
    width: auto;
}